@charset "utf-8";
/*顶部三部分公用的宽度*/
.comWidth{width: 1000px;margin-left: auto;margin-right: auto;}
.show{display: block; }
.hide{display: none;}

/*topBar*/
.leftArea{float: left;}
.rightArea{float: right;}
.topBar{height: 31px;background-color: #F7F7F7;line-height: 31px;}
.collection{background: url("../Images/collection.jpg") left center no-repeat;
    padding-left: 19px;font-weight: bold;}
.topBar a:hover{color: red;}

/*logoBar*/
.logoBar{height: 85px;background-color: #1D7AD9;}
.logo{padding-left: 41px;padding-top: 13px;}

/*searchBox*/
.searchBox{width: 430px;padding-left: 150px;padding-top: 23px;}
.search_text{width: 350px;height: 35px;padding: 0 5px;}
.search_btn{width: 70px;height: 35px;font-size: 14px;
    font-family: "Microsoft YaHei","微软雅黑";background-color: #FF8C00;color: #FFF;}

/*shopCar*/
.shopCar{width: 145px;height:35px;background-color:#FF8C00;color: #FFF;
    font: 14px/35px "Microsoft YaHei","微软雅黑";margin-top: 23px;margin-right: 59px;}
.shopText{width:90px;height:100%;background: url("../Images/shopCar.jpg") 10px center no-repeat;
    text-indent: 40px;}/*text-indent缩进*/
.shopNum{width: 27px;height: 35px;border-left: #FF9C01 solid 1px;padding-right:27px;
    text-align: right;background: url("../Images/arrow.jpg") 33px center no-repeat;}

/*导航*/
.navBox{height: 35px;background-color: #1369C0;color: #FFF;}
.shopClass{width: 190px;position: relative;}
.shopClass h3{line-height: 35px;text-align: center;}
.shopClass i{width: 11px;height: 7px;background: url("../Images/dropArrow.jpg") left center no-repeat;
    overflow: auto;display: inline-block;margin-left: 11px;}
.nav,.shopClass h3{font-family: "Microsoft YaHei","微软雅黑";}
.nav{line-height: 35px}
.nav li{float: left;}
.nav a{height: 35px;display: inline-block;padding: 0 30px;color: #FFF;}
.nav a:hover{background-color: #4593FD;}

/*分类列表*/
/*在子页面需要隐藏  因此需要绝对定位于shopClass*/
.shopClass_show{background-color: #4593FD;position: absolute;left: 0;top: 35px;width: 100%}
.shopClass_item{padding: 14px;border-bottom: #3487F2 solid 1px;border-top: #5AA1FE solid 1px}
.shopClass_item dt{height: 22px;background: url("../Images/rightArrow.jpg") right center no-repeat;}
.shopClass_item b{font: 14px/1  "Microsoft YaHei","微软雅黑";}
.shopClass_item a{color: #FFF;}
.shopClass_item a:hover{text-decoration: underline;}
.shopClass_item a.alink{width: 48px;height: 20px;background: url("../Images/class_bg.jpg") left center no-repeat;
    text-decoration: underline;display: inline-block;text-align: center;line-height: 20px;}

/*激活的分类*/
.shopClass_active{background-color: #FFF;border-left: #4593FD solid 1px;}
.shopClass_active a{color: #000;}
.shopClass_active a.alink{color: #FFF;text-decoration: none;
    background: url("../Images/class_bg_active.jpg") left center no-repeat;}
.shopClass_active dt{background: none;}

/*分类弹出列表*/
.shopClass_list{position: absolute;left: 190px;
    top:35px;width: 568px;border: #CCC solid 1px;}
.shopList_item{padding: 10px 0;border-bottom: #CCC solid 1px;}
.shopList_content{padding: 0 20px;}
.shopList_item dt{color: #4593FD;font-weight: bold;line-height: 24px;height: 24px;}
.shopList_item dd{padding-left: 68px;margin-top: -24px;line-height: 24px;}
.shopList_item dd a{margin-right: 12px;}
.shopList_links {padding: 15px 0;}
.shopList_links a{font-size: 12px;color: #FFF;background-color: #2785E6;height: 26px;line-height: 26px;
    display: inline-block;padding: 0 14px 0 8px;margin-right: 10px;}
.shopList_links span{width:11px;height: 7px;background: url("../Images/rightArrow.jpg") left center no-repeat;
    margin-left: 7px;display: inline-block;}

/*广告滚动栏*/
.banner_bar {background-color: red;width: 810px;height: 345px;float: right;position: relative;overflow: hidden;}
.image_box {width: 1620px;height: 345px;position: absolute;left: -810px;top: 0;}
.image_box li{float: left;}
.image_box img{width: 810px;height: 345px;display: block;}
.banner_num {position: absolute;bottom: 15px;left: 0;width: 100%;text-align: center;}
.banner_num a{background-color: #FFF;width: 20px;height: 5px;display: inline-block;margin: 0 3px;}
.banner_num a.active{background-color: #FF7700;}





